<% for (var i in theme.img.footer_image) { %>
    <span id="footer-image">
        <a href="<%- qnurl(theme.img.footer_image[i].link) %>" target="_blank" title="<%= i %>">
            <img src="<%- qnurl(theme.img.footer_image[i].src) %>" alt="<%= i %>"><!--
     --></a>
    </span>
<% } %>
